@media print {
    .adress {
	float: right;
	margin-right: 0mm;
	margin-top: 30mm;
	padding-left: 35mm;
	width: 80mm;
	height: 35mm;
    }

    .adressrad {
        font-family: monospace;
        font-size: 9pt;
    }
}

